:root {
    --dark: #000000;
    --light: #ffffff;
    --red: #590303;
    --golden: #edc511;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light);
    color: var(--dark);
}

.header-style {
    font-family: 'Franklin Gothic Medium', sans-serif;
    background-color: var(--red);
    color: var(--light);
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

.reason-block {
    margin-bottom: 20px;
}

.reason-block ul {
    list-style: none;
    padding: 0;
}

.reason-block ul li {
    background-color: var(--golden);
    color: var(--dark);
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.color-blocks {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.block {
    flex: 1;
    padding: 20px;
    color: var(--light);
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    min-width: 100px; /* Ensure blocks are visible */
    margin-bottom: 10px; /* Add spacing for wrap */
}

.block-dark {
    background-color: var(--dark);
}

.block-light {
    background-color: var(--light);
    color: var(--dark);
}

.block-red {
    background-color: var(--red);
}

.block-golden {
    background-color: var(--golden);
    color: var(--dark);
}
